@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 65.2%;
   font-family: 'Rubik';
}

body {
   font-size: 1.6rem;
   background-image: url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
   background-size: cover;
   background-attachment: fixed;
}

.main {
   margin: 0 auto;
   margin-top: 4rem;
   width: 75%;
   background-color: rgba(236, 240, 241, .7) ;
   text-align: center;
   padding: 4rem 8rem;
}

.heading-primary {
   font-size: 5.2rem;
   text-transform: uppercase;
   margin-bottom: 7rem;
}

.section-status {
   margin-bottom: 7rem;
}

.col-1-of-2 {
   width: 40%;
   display: inline-block;
}

.status--hero {
   float: left;
   margin-left: 2rem;
}

.status--monster {
   float: right;
   margin-right: 2rem;
}

.status__heading {
   margin-bottom: 1.3rem;
}

.status__health-bar {
   position: relative;
   width: 100%;
   background-color: #e74c3c;
   border-radius: 2px;
   color: white;
}

.health-bar__background {
   padding: .2rem;
   border-radius: 2px;
   background-color: #27ae60;
   width: 100%;
}

.heading-secondary {
   text-transform: uppercase;
   margin-bottom: 3rem;
}

.section-start {
   margin-top: 7rem;
   margin-bottom: 4rem;
}

.game-actions {
   margin-bottom: 4rem;
}

.btn {
   padding: 1rem 2rem;
   text-decoration: none;
   font-weight: 500;
   border-radius: 4px;
   letter-spacing: 2px;
   color: white;
   box-shadow: 1px 2px 14px #777;
   transition: all .2s;
}

.game-actions .btn:not(:last-child) {
   margin-right: .8rem;
}

.btn-start {
   background-color: #2c3e50;
}

.btn-start:hover {
   background-color: #34495e;
}

.btn-attack {
   background-color: #c0392b;
}

.btn-attack:hover {
   background-color: #e74c3c;
}

.btn-special-attack {
   background-color: #2980b9;
}

.btn-special-attack:hover {
   background-color: #3498db;
}

.btn-heal {
   background-color: #16a085;
}

.btn-heal:hover {
   background-color: #2ecc71;
}

.btn-give-up {
   background-color: #f39c12;
}

.btn-give-up:hover {
   background-color: #f1c40f;
}

.log {
   list-style: none;
   margin-left: 2rem;
   margin-right: 2rem;
   font-size: 1.4rem;
   letter-spacing: .1rem;
   font-weight: 500;
}

.log-item {
   margin-bottom: .3rem;
   padding: .5rem;
}

.player-turn {
   background-color:rgba(149, 165, 166,1.0);
   color: #34495e;
}

.monster-turn {
   background-color:rgba(189, 195, 199,1.0);
   color: #c0392b
}

